# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
a
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.iso
*.elf

# Directories
.cache
subprojects/limine
subprojects/ovmf_binaries
subprojects/printf
subprojects/cxxshim
subprojects/frigg
subprojects/lai